# SF Salaries Exercise

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [79]:
sal = pd.read_csv('/content/Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107131 entries, 0 to 107130
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                107131 non-null  int64
 1   EmployeeName      107131 non-null  object
 2   JobTitle          107131 non-null  object
 3   BasePay           106686 non-null  float64
 4   OvertimePay       107131 non-null  float64
 5   OtherPay          107131 non-null  float64
 6   Benefits          70972 non-null   float64
 7   TotalPay          107131 non-null  float64
 8   TotalPayBenefits  107131 non-null  float64
 9   Year              107131 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            107131 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 10.6+ MB

**What is the average BasePay ?**

In [ ]:
# The provided answer is strange.
# Average calculated by dividing sum over count 
# yeilds the same result as .mean()
#
# Check below..

66325.44884050643

In [27]:
print(sal['BasePay'].sum()/sal['BasePay'].count())
sal.describe()

68165.60588080912

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,107131.000000,106686.000000,107131.000000,107131.000000,70972.000000,107131.000000,107131.00000,107131.000000,0.0,0.0
mean,53566.000000,68165.605881,5106.471602,3810.361615,26315.472057,76799.293280,94232.73162,2011.981770,NaN,NaN
std,30926.200182,41457.993100,11485.396919,8256.400081,14568.494336,49214.066428,60282.69431,0.810239,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,0.000000,0.000000,0.00000,2011.000000,NaN,NaN
25%,26783.500000,40190.780000,0.000000,0.000000,16970.375000,43324.695000,50307.27000,2011.000000,NaN,NaN
50%,53566.000000,65962.000000,0.000000,932.840000,29380.695000,72645.530000,91793.77000,2012.000000,NaN,NaN
75%,80348.500000,95229.040000,4807.700000,4476.160000,35949.692500,106690.935000,131158.31000,2013.000000,NaN,NaN
max,107131.000000,319275.010000,245131.880000,400184.250000,86533.210000,567595.430000,567595.43000,2013.000000,NaN,NaN

** What is the highest amount of OvertimePay in the dataset ? **

In [28]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [41]:
sal[(sal['EmployeeName'] == 'JOSEPH DRISCOLL')]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [42]:
sal[(sal['EmployeeName'] == 'JOSEPH DRISCOLL')]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [44]:
sal[(sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max())]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [50]:
sal[(sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min())]

# Provided answer is different from the output of the above command.

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36156,36157,PAULETTE ADAMS,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.0,0.0,0.0,NaN,0.0,0.0,2011,NaN,San Francisco,NaN
36157,36158,KAUKAB MOHSIN,TRANSIT OPERATOR,0.0,0.0,0.0,NaN,0.0,0.0,2011,NaN,San Francisco,NaN
36158,36159,JOSEPHINE MCCREARY,MANAGER IV,0.0,0.0,0.0,NaN,0.0,0.0,2011,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [82]:
sal[(sal['Year'] <= 2014) & (sal['Year'] >= 2011)].groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [85]:
len(sal['JobTitle'].unique())

2159

** What are the top 5 most common jobs? **

In [92]:
sal.groupby('JobTitle')['Id'].count().sort_values(ascending=False).head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: Id, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [125]:
sal_count = sal[(sal['Year'] == 2013)].groupby('JobTitle').count()
len(sal_count[(sal_count['Id'] == 1)])

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [131]:
sal_chief = sal[sal['JobTitle'].str.contains('Chief')]

In [ ]:
# Answer shows 423 no 477!

477

In [133]:
len(sal_chief)

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [140]:
sal['title_len'] = [len(i) for i in sal['JobTitle']]
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,31
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,31
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,36
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,44

In [141]:
sal[['title_len', 'TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!